.header{
    background-color: #00bfa5;
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #ccc;
}
.left-header a{
    color: #000;
    text-decoration: none;
}
.right-header a{
    background-color: #004d40;
    text-decoration: none;
    padding: 5px 8px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    color: #fff;
}