.header{
    background-color: #2286c3;
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #ccc;
}
.header img{
    width: 150px;
}
.left-header a{
    color: #fff;
    text-decoration: none;
}
.right-header a{
    background-color: #004d40;
    text-decoration: none;
    padding: 5px 8px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    color: #fff;
}

@media(max-width: 480px){
    .header{
        padding: 10px 20px;
    }
    .header img{
        width: 100px;
    }
}